<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Take photos of places to upload along with details on that place</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Identify points of interest and cool places near a user&apos;s location</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.70339907748-dq6hl4thale1ldlvhslsls1up0av3j1o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2645743932241619</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>70339907748-dq6hl4thale1ldlvhslsls1up0av3j1o.apps.googleusercontent.com</string>
	<key>FacebookAppID</key>
	<string>2645743932241619</string>
	<key>FacebookClientToken</key>
	<string>9e8bcca93a235108d09144f98b3402cd</string>
	<key>FacebookDisplayName</key>
	<string>Consierge</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
